/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 
bootstrap/compiled.php
app/storage/

# Laravel 5 
public/hot
public/storage
public_html/hot
public_html/storage

# Various
Homestead.json
Homestead.yaml
docker-compose.override.yml
/storage/*.key
/.vagrant
.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
